{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light  custom-navbar navbar-custom {
            width: 800px; /* Adjust width as needed */
            margin: 0 auto; /* Center the navbar */" >
            <a class="navbar-brand " href="#">Portfolio </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent" ">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Project <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
                </li>
              </ul> 
            </div>
            
          </nav>
    </header>
    <main class="body">
    <section class="main">
        <div class="row p-4">
          <div class="col-md-6 d-flex justify-content-center align-items-center my-3">
            <img src="{% static 'images/Screenshot from 2024-10-30 22-30-40.png' %}" alt="">
          </div>
          <div class="col-md-6 my-5">
            <h1 class="bio">I'm <span style="color:#0055a5 ;">Vineeth</span> </h1>
            <h2 class="bio">Fullstack <br> Developer</h2>
            <p id="bio-para">My job is to build your website so that it is functional <br>
               and user-friendly but at the same time attractive.</p>
            <button class="hire-me">Hire Me</button>
          </div>
        </div>
    </section>
    <section class="Projects my-5">
      <div>
        <h1 id="project">Projects</h1>
      </div>
      <div class="row d-flex justify-content-center align-items-center mx-3 my-4" style="text-align:center;">
          <div class="col-md-4">
            <div class="card mx-auto p-3 m-3 " style="border-radius: 15px;">
              <img src="{% static 'images/Screenshot from 2024-10-30 20-57-24.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mx-auto p-3 m-3 " style="border-radius: 15px;">
              <img src="{% static 'images/Screenshot from 2024-10-30 20-57-24.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mx-auto p-3 m-3 " style="border-radius: 15px;">
              <img src="{% static 'images/Screenshot from 2024-10-30 20-57-24.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mx-auto p-3 m-3 " style="border-radius: 15px;">
              <img src="{% static 'images/Screenshot from 2024-10-30 20-57-24.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section>
      <div class="skills">
        <h1>Skills</h1>
      </div>
     
     
       
    </section>

    <footer class="my-5">
      <div class="my-5">
        <h1 class="Contact pb-5">Contact</h1>
      </div>
      <div class="row my-5">
        <div class="my-3 col-md-4 text-center mx-">
          <img class="text-align-center" src="{% static 'images/sample.png' %}" alt=""> <br>
         <div class="clearfix ">
          <h3>Email:</h3>
          <h6>vineethm@gmail.com</h6>
         </div>
        </div>
        <div class="col-md-3  mt-5 text-center mb-5">
          <div  style="margin-top: 1rem;">
            <h3 class="py-3" style="color: #050aa8; font-weight: bold;">Let's Connect</h3>
           <a href="https://www.instagram.com/m_vine3th_?igsh=MW8wYzRINHVkZGjrNA==">
            <img class="icons" src="{% static 'images/Pasted image.png' %}" alt="">
           </a>
            <a href="https://wa.me/918157815705">
              <img class="icons" src="{% static 'images/Pasted image (4).png' %}" alt="">
            </a>
            <img class="icons" src="{% static 'images/Pasted image (3).png' %}" alt="">
            <img class="icons" src="{% static 'images/Pasted image (5).png' %}" alt="">
          </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center mb-5">
          <div class="contact-form">
            <h4 class="text-center" style="color: #050aa8; font-weight: bold;">Get in touch</h4>
            <p class="text-center">Fill out the form below and I will get <br> back to you as soon as possible 😊</p>
            <form action="YOUR_SERVER_SCRIPT_URL" method="POST">
                <label for="name">Name</label>
                <input  type="text" id="name" name="name" required><br>
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required><br>
                
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" required><br>
                
                <label for="message">Message</label><br>
                <textarea id="message" name="message" rows="4" required></textarea><br>
                
                <button id="form-btn" type="submit"> Send Message </button>
            </form>
        </div>
        
        </div>
      </div>
    </footer>
  </main>
    


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>